{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="huangzy97" />
<title>基于tensorflow框架的实时目标识别系统</title>
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

</head>

<body>
<div class="bg"><img src="{% static 'blog/img/bg.jpg' %}" alt=""></div>
<div class="header clearfix">
    <a href=""><img src="{% static 'blog/img/logo.jpg' %}" alt=""><span class="logo">Object_Detection</span></a>
</div>
<div id="main">
    <div id="body" class="light">
    	<div id="content" class="show">
            <div class="demo">
            	<form id="uploadForm" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="upload_box">
                        <div class="upload_main">
                            <div class="upload_choose">
                                <input id="fileImage" type="file" size="30" name="fileselect[]" multiple />
                            </div>
                            <div id="preview" class="upload_preview"></div>
                        </div>
                        <div class="upload_submit">
                            <button type="button" id="fileSubmit" class="upload_submit_btn">确认上传图片</button>
                        </div>
						<div class="header clearfix">
						<div class="left">
						<a target="_blank" href="{% url 'show_picture' %}">查看识别结果</a>						
						</div>
						</div>
                        <div id="uploadInf" class="upload_inf"></div>
                    </div>
                </form>
            </div>
        </div>  	
    </div>
</div>

<div class="layer_footer">
    <span>© 2020 huangzy97</span>
    <span class="dot">·</span>
    <a target="_blank" href="https://github.com/huangzy97/">相关网站</a>
    <span class="dot">·</span>
    <a href="" class="footer-mobile-show">联系我们</a>
    <br />
    <span>地址</span>
</div>
<script src="http://libs.baidu.com/jquery/1.4.4/jquery.js"></script>
<script src="{% static 'blog/js/test.js' %}"></script>
<!-- <script src="test.js"></script> -->


</body>
</html>
